Variable in python

In [6]:
age = 23
name ="sudesh"
sirname="bagawe"

Python reserne keywords 

False, None, True, and, as, assert, break, class, continue,
def, del, elif, else, except, finally, for, from, global,
if, import, in, is, lambda, nonlocal, not, or, pass, raise,
return, try, while, with, yield

DataTypes && Opearator -In-Depth 

type         example                    Description 

int          5,-3,5000                  whole number
float        3.14,-0.1                  Decimal  number
str          "Sudesh"                   Text /String value 
bool         True /False                Boolean or  logical  value 
list         [1,2,3,4]                  Ordered Mutable collection
tuple        (1,2,3,4)                  Order Immutable Collection
set          {4,5,6,7,8}                Unordere unique Values
dict         {"name":"sudesh"}          Key-value pairs

In [ ]:
x= 45 
type(x)  ##INT

## You can convert string to int
x= str(x) ## str
x= int(str(x)) 
type(x)   ## int

## You can convert str to float
r = "747.25" ## str
r= float(r)
type(r)

## you also can convert int / string "1/0" to bool
b= "1"
b=bool(b)
type(b)

## int to string 
x= str(x)
type(x)

str

Operators in Python:

Their have three main type of  operators
1. Arithmatic Operators
2. Logical Operators    
3. Comparision Operators

In [ ]:
## Arathmetic Operators
print(5+6)
print(5-6)
print(5*6)
print(5/6)
print(5%6)
print(5**6)
print(5//6)
print("\n")

## Comparison Operators
print(5>6)
print(5<6)
print(5==6)
print(5!=6)
print(5>=6)
print(5<=6)
print("\n")

## Logical Operators
print(True and False)
print(True or False)
print(not True)

In [ ]:
## Integer and Float Operations

a=10
b=3

print(a+b)
print(a/b)
print(a*b)

In [ ]:

##string Operations 

s1= "Sudesh"
s2 = "Bagawe"

#Concatination 
print(s1 + ' ' + s2)
#Repitation
print(s1 * 3 )
#Indexing 
print(s1[0])
#slicing 
print(s1[1:5])
#Lenght
print (len(s1))
#membership
print("s" in s1)
print("s" not in s1)

In [ ]:
#List Operations

colors =["Red","Yellow","Blue","White","purple"]
#Accesing Colors 
print(colors[0])

#slicing List
print(colors[0:3]) 

#Adding 
colors.append("Test")
print(colors)

#inserting 
colors.insert(1,"Orange")
print(colors)

#removing 
colors.remove("Test")
print(colors)

#sorting 
colors.sort()
print(colors)

##removving last elmnt
colors.pop()
print(colors)

#Length
print(len(colors))

# useful list menthods

numbers =[1,2,3,4,5,8,7]
numbers.sort()
numbers.reverse()
numbers.extend([100,200])
print(numbers)

number2 =[]
number2= list(numbers)
print(number2)

number3 =[1,2,3,[4,5,6]]
print(number3[3][0])

In [ ]:
#TUple  Opearations Tuples  are like list but they are immutable 
dimentions =(1,2,3,4)
#access
print(dimentions[0])

#slicing 
print(dimentions[0:2])

#Length
print(len(dimentions))

#Cnnot change  or  append to the  tuple 
# dimentions[0]=25 #Cnnot change  or  append to the  tuple

In [ ]:
#Set Oprations 

Table = {2,4,6,8}
Table2 ={4,8,12,16}
#print set
print(Table)

#Access By indexing
Table.add(5) 
print(Table)

#remove
Table.remove(5)
print(Table)

#Union
print(Table.union(Table2))
print(Table|Table2)

#Intersection
print(Table.intersection(Table2))

#Diffrence 
print(Table - Table2)
print(Table2.difference(Table))

Dictionnary Opearations

In [ ]:

profile= {
    "name": "Sudesh",
    "age": 23,
    "country": "Ethiopia"
}
##accessng 
print(profile["name"])

##adding new  key value pair
profile["Email"] ="sudeshbagawe.com"
print(profile["Email"])

#update value
profile["name"] ="sid"
print(profile["name"])

#Removing key
profile.pop("Email")
print(profile)

#Print keya and value pair separat
print(profile.keys())
print(profile.values())

for key , value in profile.items():
    print(key , '=>>>' , value)
    if(profile.setdefault("name")):
        print("name exist")

 Tuple Basics

In [ ]:
#creating a tuple
tuple1=(1,2)
type(tuple1) # tuple
tuple2=(1)
type(tuple2) #in

tuple2 =(1,) #need to have ,
type(tuple2) 

print(tuple1[0])
print(tuple1[-1])

print(tuple1[0:2]) # last index was not countable

#Tuple Unpacking 
person ={"sudesh",22,"sde"}
name , age, profile = person
print(name)

In [ ]:
for key in range(5):
    print(key )
    print('\n')
    
for key in range(1,6):
    print(key)

In [65]:
#While Loop
count = 4
while key < count:
    print(key)
    key = key +1

Functions in  Python

In [70]:
def greetingFromSudesh(message):
    print("%s %s" %('Hello',message))

greetingFromSudesh("From Sudesh Bagawe")

Hello From Sudesh Bagawe

In [ ]:
##Retturn Statement
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # 8

8

In [73]:
## default statement 
def return_statement(msg = "hello"):
    return  f"I have Returned {msg}"

result = return_statement("test")
print(result)

I have Returned test

In [76]:
##Variable lenght Arguments
def total(*numbers):
    return sum(numbers)

result = total(1,2,3,4,5,6,7,8,9,1,0)
print(result)

46

In [82]:
#lambda 
a=1
b=2
c=3
x=lambda a,b,c:a+b+c
print(x(a,b,c))

6

Map, Reduce, Filter

In [ ]:
#MAP
nums= [1,2,3,4,5,6,7,8]
squared =list(map(lambda x : x ** 2,nums))
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64]

In [83]:
#Reduce 
from functools import reduce
nums = [1,2,3,4,5,6]
total = reduce(lambda x,y :x+y, nums)
print(total)

21

File Handling

In [ ]:
##Writing In File 
with open ("example.txt","w") as file:
    file.write("Hello From Sudesh")
    
##Reading from  file 
with open ("example.txt",'r') as file:
    content = file.read()
    print(content)
    
##Appending on file 
with open("example.txt", "a") as file:
    file.write("\nWelcoome From Sudesh.")

    
with open ("example.txt",'r') as file:
        content1 = file.read()
        print(content1)

Object oriented programming

In [ ]:
##Classes and Object
class Person :
    def __init__(self,name,age):
        self.name= name
        self.age = age
        
    def selfInfo(self):
            print(f"Hi my name is {self.name} and i am {self.age} years  old")
            
p1= Person("Sudesh",23)
result =p1.selfInfo()   
 
 ##Inheritance

class Student :
    def __init__(self,marks, subject):
        pass
    
    def selfInfo(self):
        print("Hello")
                 
        
s1= Student("60","test")   
s1.selfInfo()

Polymorphisum

In [ ]:
class Animal :
    
    def sound(self):
        print("Animal Sound")
        
class Dog ( Animal):
    def sound(self):
        print("Dog Sound")
        
d1= Dog()
a1= Animal()
a1.sound()
d1.sound()

In [117]:
##Encapsulation
class BankAccount :
    def __init__ (self,balance):
        self.__balance = balance
    def get_balance(self):
        return  self.__balance        

b1= BankAccount(27000)

b1.get_balance()

27000

In [122]:
#Abstration

from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start(self):
        pass